<!DOCTYPE html>
<html>
<body>
    <p><b>ВНИМАНИЕ! Это автоматически сгенерированное письмо, не отвечайте на него!</b></p>
    <p>Вы зарегитрировали открытие вклада на сайте <b>yazaimy.ru</b>.
        Если это сообщение ошибочно, не заходите по ссылкам, расположенным ниже.</p>
    <p>Для завершения оформления вклада нужно активировать аккаунт и зачислить средства на счет.</p>
    <p>Чтобы активировать аккаунт, пройдите по ссылке <a href="$activationLink"><b>$activationLink</b></a></p>
</body>
</html>