<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head(page='depositors')"/>
<body>
<div class="container-fluid">

    <!-- START Header Container -->
    <div id="header-container" th:replace="fragment/header :: header(page='depositors')"/>
    <!-- END Header Container -->

    <!-- START Body Container -->
    <div id="body-container">
        <!-- START Left Column -->
        <div id="left-column" class=""
             th:replace="fragment/left-column :: left(page = 'depositors', subpage = 'moneymotion')"/>
        <!-- END Left Column -->
        <!-- START Right Column -->
        <div id="right-column">
            <div class="right-column-content">

                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <span aria-hidden="true" class="icon icon-grid-big"></span>
                                    <span class="main-text">
                                        Движение денежных средств
                                    </span>
                        </h1>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Движение денежных средств</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                В этом разделе личного кабинета можно управлять денежными средствами на своем счете.
                                Например, можно сделать запрос на частичное снятие денег, если условия договора это
                                позволяют.
                                Или зачислить деньги на свой счет, получив специальный код, который нужно будет указать
                                в платежных
                                документах и не приезжать в офис.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="block">
                        <div class="block-heading">
                            <div class="main-text h2">
                                Запросы на движение денежных средств
                            </div>
                            <div class="block-controls">
                                    <span aria-hidden="true"
                                          class="icon icon-cross icon-size-medium block-control-remove"></span>
                                    <span aria-hidden="true"
                                          class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                            </div>
                        </div>
                        <div class="block-content-outer">
                            <div class="block-content-inner">
                                <ul id="default-tabs" class="nav nav-tabs">
                                    <li class="active"><a href="#motion_addtSumDocs" data-toggle="tab">Зачисление
                                        средств</a>
                                    </li>
                                    <li><a href="#motion_outcomeDocs" data-toggle="tab">Вывод средств</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div th:replace="fragment/money-motion :: motionrequests(${moneymotionlogs[ __${#strings.replace('payinaccount',' ','')}__]},
                                        true, 'payinrequest', 'addtSumDocs', 'sumToPayIn', 'Сумма для зачисления', 'Зачислить', true)" />
                                    <div th:replace="fragment/money-motion :: motionrequests(${moneymotionlogs[ __${#strings.replace('outcome',' ','')}__]},
                                        false, 'outcomerequest', 'outcomeDocs', 'sumToOutcome', 'Сумма для вывода', 'Вывести', true)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Right Column -->
    </div>
    <!-- END Body Container -->
    <div th:replace="fragment/scripts_bottom :: scripts(page = 'depositors')"/>
    <script>
        $(document).ready(function () {
            depositorPagesEngine.init($, "depositor/moneymotion");
        });
    </script>
</div>
<!-- /.container -->
</body>
</html>